In [1]:
# Q1>
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print("Sorted list of tuples based on integer value:")
for item in sorted_data:
    print(item)

Sorted list of tuples based on integer value:
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [3]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = list(map(lambda x: x**2, numbers))
print("Squares of the numbers in the list:")
print(squares)

Squares of the numbers in the list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Q3>
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple_of_strings = tuple(map(lambda x: str(x), numbers))
print("Tuple of strings:")
print(tuple_of_strings)

Tuple of strings:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
# Q4.
from functools import reduce
import operator
numbers = list(range(1, 26))
product = reduce(operator.mul, numbers)
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

In [6]:
# Q5.
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print("Numbers divisible by 2 and 3:")
print(filtered_numbers)

Numbers divisible by 2 and 3:
[6, 60, 90, 120]

In [7]:
#  Q6.
strings = ['python', 'php', 'aba', 'radar', 'level']
palindromes = list(filter(lambda x: x == x[::-1], strings))
print("Palindromes in the list:")
print(palindromes)

Palindromes in the list:
['php', 'aba', 'radar', 'level']